[submodule "files/plugins/remote/nagios-plugin-mongodb"]
	path = files/plugins/remote/nagios-plugin-mongodb
	url = https://github.com/mzupan/nagios-plugin-mongodb
[submodule "files/plugins/remote/nagios-plugin-puppet-agent"]
	path = files/plugins/remote/nagios-plugin-puppet-agent
	url = https://github.com/aswen/nagios-plugins
[submodule "files/plugins/remote/nagios-plugin-activemq"]
	path = files/plugins/remote/nagios-plugin-activemq
	url = https://github.com/ranl/monitor-utils
[submodule "files/plugins/remote/nagios-plugin-check_mem"]
	path = files/plugins/remote/nagios-plugin-check_mem
	url = https://github.com/justintime/nagios-plugins
[submodule "files/plugins/remote/nagios-plugin-duply"]
	path = files/plugins/remote/nagios-plugin-duply
	url = https://github.com/feraudet/check_duply.git
[submodule "files/plugins/remote/nagios-openstack-monitoring"]
	path = files/plugins/remote/nagios-openstack-monitoring
	url = https://github.com/eumel8/nagios-openstack-monitoring.git
	branch = nrpe-plugins
